[user]
	name = Takashi Kanemoto
	email = kanemoto.takashi@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
	quotepath = false
	autocrlf = input
	ignorecase = false
[color]
	ui = auto
[alias]
	ad = add .
	st = status
	ci = commit -m
	ciam = commit --amend
	co = checkout
	cb = checkout -b
	cm = checkout master
	br = branch
	log = log --decorate
	ll = log --decorate --oneline
	mg = merge --no-ff
	mt = mergeto
	df = diff --stat
	ls = ls-files
	re = remote
	pl = pull
	ps = push
	rmd = !git rm $(git ls-files --deleted)
	adw = !git diff -w --no-color | git apply --cached
[merge]
	tool = opendiff
[push]
	default = upstream
[include]
	path = .gitconfig.local
