[user]
	name = Takashi Kanemoto
	email = kanemoto.takashi@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
	quotepath = false
	autocrlf = input
	ignorecase = false
[color]
	ui = auto
[alias]
	ad = add .
	st = status
	ci = commit -m
	ciam = commit --amend
	cie = commit -m \"[ci skip] wip\" --allow-empty
	co = checkout
	cb = checkout -b
	cm = checkout master
	br = branch
	log = log --decorate
	ll = log --decorate --oneline
	mg = merge --no-ff
	mt = mergeto
	df = diff --stat
	ls = ls-files
	re = remote
	pl = pull
	ps = push
	rmd = !git rm $(git ls-files --deleted)
	adw = !git diff -w --no-color | git apply --cached
	brd = delete-merged-branches
	pr = !hub browse -- compare/$(git symbolic-ref --short HEAD)'?'expand=1'&'title=wip'&'body=$(curl -s https://raw.githubusercontent.com/quartetcom/pull-request-template/master/pr-template.md | nkf -WMQ | tr '\n' ' ' | sed 's/= //g' | sed 's/ /%0D%0A/g' | tr = %)
[merge]
	tool = opendiff
[push]
	default = upstream
[include]
	path = .gitconfig.local
[pr-release "branch"]
	staging = master
	production = release
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
